<head>
<title>You've Found A Match!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'>
	<style type="text/css">
	body {
		background: #7DFDFE;
		text-align: center;
		padding-top: 150px;
		font-family: 'Josefin Slab';
		font-size: 38px;
	}
	p {
		font-size: 20px;
	}
	</style>
</head>


<body>
<h1>The results are in,</h1>

<p>
Your Soulmate is...
	<%= @match %>
</p>
</body>