<head>
	<title>Git Connected</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'>
	
	<style type="text/css">
		body {
			background: #7DFDFE;
			text-align: center;
			padding-top: 150px;
		}
		img {
			width: 20%;
			height: auto;
			border-radius: 30%;
		}
		h1 {
			font-family: 'Josefin Slab';
			font-size: 72px;
		}
		h2 {
			font-family: 'Josefin Slab';
		}
		p {
			position: fixed;
			font-family: 'Josefin Slab';
			font-size: 18px;
			bottom: 0;
			right: 0;
		}
	</style>

</head>

<body>
	<h1>Knead a Soulmate?</h1>
		<h2> clicca l'immagine </h2>
			<%= link_to image_tag("https://s-media-cache-ak0.pinimg.com/736x/f6/b8/69/f6b869ed7268a9ade7b5bbcefe6ee52c.jpg"), genders_path%>
				<p>Jessie Osterman & Richard Lin</p>

</body>