<head>
	<title>About Jessie</title>
	<style type="text/css">
		body{
			background-image: url("http://i.imgur.com/PUEOgST.jpg");
			font-family: Lucida Sans Unicode;
			color: black;
			text-shadow: 1px 2px gray;
		}
		p{
			font-weight: bold;
			font-size: 22px;
			text-align: center;
			position: relative;
			top: 15%;

		}
		a:link {
	    text-decoration: none;
	    color: #99CCFF;
	    }
	    a:visited {
	    text-decoration: none;
	    color: #99CCFF;
	    }
	    a:hover {
	    text-decoration: underline;
	    text-shadow: 2px 2px gray;
	    color: #0000FF;
		}
	</style>
</head>
<body>
	<p>I am from the Orinda, California just over the Berkely Hills</p>
	<p>I am currently a rising sophomore at New York University studying Biochemistry</p>
	<p>FUN FACT: I am a quarter Chinese</p>
	<p><a href="localhost:9393/">Back Home</a></p>
</body>


