<head>
	<title>Contact Me</title>
	<style type="text/css">
		body{
			background: url("http://i.imgur.com/PUEOgST.jpg");
			text-align: right;
			color: #474791;
			text-shadow: 1px 2px gray;
			font-family: Lucida Sans Unicode;
		}
		a:link {
	    text-decoration: none;
	    color: #99CCFF;
	    }
	    a:visited {
	    text-decoration: none;
	    color: #99CCFF;
	    }
	    a:hover {
	    text-decoration: underline;
	    text-shadow: 2px 2px gray;
	    color: #0000FF;
		}
	</style>
</head>

<body>
	<h1>Here are some neat links!</h1>

	<a href="https://www.facebook.com/jessie.osterman/">facebook</a> 
	<a href="https://instagram.com/jessieost/">instagram</a>
	<a href="https://www.linkedin.com/pub/jessie-osterman/a6/309/710" >linkedin</a>
	<p><a href="localhost:9393/">Back Home</a></p>

</body>