<head>
	<title>Awesome Calculator</title>

</head>
<body>
	<h1>This is a Calculator!</h1>
	<h2>To Use"</h2>
		<p>type into the search bar as follows:</p>
		<p><b>'a function/first_number/second_number'</b>. For example, to add <b>7</b> and <b>3</b>, the search bar should look like <b>localhost:9393/add/7/3</b></p>
		<p>the functions you should use are: <b>add, multiply, subtract, divide, exponent</b>.</p>
		<p>Regarding the exponent function: the <b>second number refers to the power</b> that the first number is being raised to.<p>
		<p>This is some fancy stuff right here, get ready for it...</p>

</body>