<head>
<title>Jessie Osterman</title>
	<style type="text/css">
	body{
		background: url("http://i.imgur.com/PUEOgST.jpg");
	}
	div {
		font-family: Lucida Sans Unicode;
		color: #474791;
		background: rgba(255,255,255,0.6);
	}
	h1 {
		text-align: center;
		text-shadow: 1px 2px #191919;
	}
	h2 {
		text-align: center;
		text-shadow: 1px 2px #191919;
	}
	h3 {
		text-align: left;
		font-weight: bold;
	}
	p {
		text-align: left;
	}
	a:link {
    text-decoration: none;
    color: #99CCFE;
    text-shadow: 1px 2px gray;
    }
    a:visited {
    text-decoration: none;
    color: #99CCFE;
    }
    a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px gray;
    color: #00000F;
	}
	</style>
</head>
<body>
	<div>
		<h1>Welcome to my site!</h1>
		<h2>My name is Jessie Osterman</h2>
	<h3><b>Bio</b></h3>
		<p>I am from the Orinda, California just over the Berkely Hills</p>
		<p>I am currently a rising sophomore at <a href="localhost:9393/about">more...</a></p>
	<h3><a href="localhost:9393/contact">Contact Me</a></h3>
	</div>
	<div class="a"> </div>
</body>