<head>
<title>Jessie Osterman</title>
	<style type="text/css">
	div {
		font-family: Lucida Sans Unicode;
			}
	h1 {
		text-align: center;
	}
	h2 {
		text-align: center;
	}
	h3 {
		text-align: right;
	}
	p {
		text-align: right;
	}
	body{
		background: url("http://i.imgur.com/PUEOgST.jpg");
	}
	a:link {
    text-decoration: none;
    color: #99CCFF;
    }
    a:visited {
    text-decoration: none;
    color: #99CCFF;
    }
    a:hover {
    text-decoration: underline;
    text-shadow: 2px 2px gray;
    color: #0000FF;
	}
	</style>
</head>
<body>
	<div>
		<h1>Welcome to my site!</h1>
		<h2>My name is Jessie Osterman</h2>
	<h3>Bio</h3>
		<p>I am from the Orinda, California just over the Berkely Hills</p>
		<p>I am currently a rising sophomore at <a href="localhost:9393/about">more...</a></p>
	<h3><a href="localhost:9393/contact">Contact Me</a></h3>
	</div>
	<div class="a"> </div>
</body>