<head>
<title>You've Found A Match!</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link href='http://fonts.googleapis.com/css?family=Josefin+Slab:700' rel='stylesheet' type='text/css'>
	<style type="text/css">
	body {
		background: #7DFDFE;
		text-align: center;
		padding-top: 150px;
		font-family: 'Josefin Slab';
		font-size: 38px;
	}
	p {
		font-size: 20px;
	}
	img 
	{
		width: 30%;
		height: auto;
		border-radius: 50%;
	}
	</style>
</head>
<body>

<h1>The results are in,</h1>

<p>
Your Soulmate is...
	<%= @match %>
</p>

<!-- <p>
	Your Soulmate is...
	<%= @people[5] %>
<p>
	<img src="https://fbcdn-sphotos-h-a.akamaihd.net/hphotos-ak-xap1/v/t1.0-9/10557236_10152307832092075_2170360554416030992_n.jpg?oh=354059b9c31b98c99ad131b3051a43d8&oe=561E180A&__gda__=1445860447_0f529b66c6d6494d4e6a06edfa65af87">
</p> -->
<!-- </p> -->
</body>